.navbar-base {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    height: 50px;
    width: 100%; 
    display: flex;
}

.navbar-logo {
  margin-left: 5%;
  margin-right: 2%;
  width: 8%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.navbar-search {
    flex: 1;
}

.navbar-searchInput {
    width: 75%; 
    padding: 11px;
    border: 2px solid black;
}

.navbar-searchButton {
    margin-left: 15px;
    width: 10%; 
    padding: 13px;
    border: none;
    background-color: #007bff; 
    color: #fff; 
    cursor: pointer;
}